.login{
  position: relative;
  padding: 8rem 0 2rem;
  min-height:100vh;
  background: #EEEAFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__decoration {
    position: absolute;
    transform-origin: center;
    transition: all .3s ease;
    z-index: 0;

    &._01 {
      position: absolute;
      top: 10rem;
      right: 25rem;
      width: 10rem;
      height: 10rem;
      background: #ffdf00;
      border-radius: 50%;    }

    &._02 {
      position: absolute;
      bottom: 10rem;
      left: 25rem;
      width: 20rem;
      height: 20rem;
      background: #ffdf00;
      border-radius: 50%;
    }

    &._03 {
      position: absolute;
      top: 15rem;
      left: 10rem;
      width: 15rem;
      height: 15rem;
      background: #ffffff;
      border-radius: 50%;
    }
    &._04 {
      position: absolute;
      bottom: 25rem;
      right: 10rem;
      width: 15rem;
      height: 15rem;
      background: #ffdf00;
      border-radius: 50%;
    }
    &._05 {
      position: absolute;
      bottom: 10rem;
      right: 30rem;
      width: 7.5rem;
      height: 7.55rem;
      background: #ffdf00;
      border-radius: 50%;
    }
    &._06 {
      position: absolute;
      top: 25rem;
      left: 35%;
      transform: translateX(-35%);
      width: 27.5rem;
      height: 27.55rem;
      background: #ffdf00;
      border-radius: 50%;
    }
  }
  &__content{
    position: relative;
    z-index: 1;
  }
  &__title{
    text-align: center;
    font-size: 3.2rem;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 2rem;
  }
  &__description{
    text-align: center;
    font-size: 1.4rem;
    line-height: 120%;
    margin: 2rem auto 1rem;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 900;
  }
  &__social{
    display: flex;
    align-items: center;
    justify-content: center;
    &-item{
      max-width: 2.5rem;
      cursor: pointer;
      margin: 0 1rem;
    }
  }
}